<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a16478004_wxy">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.a16478032_jyq.MainActivity">

        </activity>

        <activity
            android:name="com.example.a16478032_jyq.LoginActivity"
            android:label="@string/login">

        </activity>

        <activity
            android:name="com.example.a16478032_jyq.WeixinActivity"
            android:label="@string/weixin">
        </activity>

        <activity
            android:name="com.example.a16478032_jyq.RegActivity"
            android:label="@string/reg">

        </activity>

        <activity
            android:name="com.example.a16478032_jyq.DiancanActivity"
            android:label="@string/diancan">
        </activity>

        <activity
            android:name="com.example.a16478032_jyq.FirstActivity"
            android:label="@string/diancan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.a16478032_jyq.SecondActivity"
            android:label="@string/diancan">
            <intent-filter>
                <action android:name="MyAction" />
                <category android:name="MyCategory" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>